{% extends 'base.html' %}

{% block content %}
    <h1>Домашнее задание на темы django, djangoORM, views</h1>
    <h2>TODO - list</h2>
    <h6>
Классическое задание для начинающих изучать фреймфорк django - "список дел". он, как правило, проверяет совокупность усвоенных техник при работе с новым фреймворком.</h6>
     <h6>
        Список дел - это приложение в котором пожно просматривать, создавать, изменять и удалять записи, которые являются описанием задач. Например "помыть посуду", "вынести мусор" или "приготовить суп" - могут быть такими задачами. Ваша цель - написать приложение для управления таким списком.
</h6><h6>В каждой задаче есть название, говорящее о том что нужно сделать, например "купить в магазине новый утюг". В каждой задаче есть отметка выполнена она или нет (по умолчанию не выполнена). У каждой задачи есть дата и время создания, дата и время завершения. Время завершения задачи проставляется в момент проставления галочки о завершении задачи. Время завершения задачи убирается (становится null) в момент снятия галочки о завершении задачи.
</h6><h6>Через админ сайт можно создавать, изменять и удалять задачи. Через админ сайт можно найти задачу по названию.
</h6><h6>В браузере можно открыть страницу со списком всех незавершенных задач. В браузере можно открыть страницу с формой на добавление новой задачи и добавить ее. В браузере можно через форму изменить задачу. В браузере по кнопке можно удалить задачу.
</h6>
<h2>Требования:</h2>
    <h5>
    <li>Написать приложение используя фреймворк django. Самостоятельно составьте модель под требования.</li>
    <li>должно быть доступно управление задачами из админки</li>
<li>должно быть доступно управление задачами из страниц, обслуживаемых с помошью TemplatedViews (ListView, CreateView, DetailView и другие)</li>
<li>используйте requirements.txt для указания сторонних зависимостей и их версий</li>
<li>используйте реляционную субд</li>
<li>Форматирование учитывается. Используйте black</li>
    </h5>
{% endblock %}